@import "../../../styles/variables";

.hero {
  min-height: calc(90vh - $topbar-height);
  padding: 0;
}

.hero_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
  }

  a {
    margin: 1rem 0;
    padding: 0.7rem 1.1rem !important;
    font-size: 1rem !important;
    height: auto !important;
    border: none !important;
  }

  a:first-of-type {
    background: linear-gradient(90deg, $primary-color 0%, darken($secondary-color, 30%) 100%);
  }

  @media(max-width: 425px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 768px) {
  .hero_text {
    margin-bottom: 2rem !important;
  }
}

@media (max-width: 840px) {
  .hero {
    padding: 0;
  }
}

.ctas {
  display: flex;
  margin-top: 20px;

  a {
    display: flex;
    align-items: center;
    margin-right: 10px;

    i {
      margin-right: 10px;
    }
  }
}


.hero_pic {
  img {
    width: 100%;
    margin: auto 0;
    border-radius: 4px;
  }
}

.icon {
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, $primary-color 0%, $secondary-color 100%);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}