@import '../../../styles/variables';

.container {
  background-color: #dbdbdb;
  border-radius: 4px;
  max-width: 400px;
  margin-bottom: 40px;
  padding: 8px;

  span {
    margin-right: 10px;
    font-family: 'Fira Code', monospace;
  }
}

.post {
  color: $warning-color;
}

.get {
  color: darken($success-color, 15%);
}

.delete {
  color: $error-color;
}