@import '../../styles/variables.scss';

.topbar {
  width: 100%;
  padding: 10px 30px 10px 20px;
  border-bottom: 1px solid $gray-light-color;
  overflow: visible;
  height: $topbar-height;
}

@media(max-width: 425px) {
  .topbar {
    padding: 10px;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  max-height: 60px;
  max-width: 160px;
  padding-top: 10px;
}