
$primary-color: #33a195;
$secondary-color: #beeeec;

$success-color: #6eb971;
$warning-color: #FF9800;
$error-color: #f0554a;
$info-color: #2196F3;

$dark-color: #303742;
$gray-dark-color: #66758c;
$gray-color: #bcc3ce;
$gray-light-color: #bcc3ce;
$light-color: #f4f4f4;

$topbar-height: 80px;

.nav-item {
  margin-bottom: 12px !important;
}

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;